{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{ actu.titre }} - Smart-Uni</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Smart-Uni</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                {% else %}
                    <li><a href="{% url 'dashboard' %}">Mon Espace</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <article class="detail-container">
            <header>
                <span class="news-badge">{{ actu.get_categorie_display }}</span>
                <h2 class="detail-title">{{ actu.titre }}</h2>
                <div class="meta-info">
                    Publié le {{ actu.date_publication|date:"d F Y" }} à {{ actu.date_publication|date:"H:i" }}
                </div>
            </header>

            <div class="content">
                {{ actu.contenu|linebreaks }}
            </div>

            <footer style="margin-top:40px;">
                <a href="{% url 'home' %}" class="btn-reset">← Retour aux actualités</a>
            </footer>
        </article>
    </main>

    <footer class="site-footer">
        <p>&copy; 2025-2026 CY Tech</p>
    </footer>
</body>
</html>