{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login - Smart-Uni</title>
</head>
<body>
<header>
    <h1>Login</h1>
    <a href="{% url 'home' %}">← Back to Home</a>
</header>

<main>
    <section>

        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label for="login">Username:</label>
            <input type="text" id="login" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </section>
</main>
</body>
</html>