{% load static %} <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Connexion - Smart-Uni</title>
</head>
<body>
    <header>
        <h1>Connexion</h1>
        <a href="{% url 'home' %}">Retour à l'accueil</a>
    </header>

    <main>
        <section>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %} <label for="login"> Pseudonyme :</label>
                <input type="text" id="login" name="username" required>
                
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Se connecter</button>
            </form>
            <p>Pas encore de compte ? <a href="register.html">Inscrivez-vous ici</a>.</p>
        </section>
    </main>
</body>
</html>