{% load static %} <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Inscription - Smart-Uni</title>
</head>
<body>
    <header>
        <h1>Rejoindre la plateforme</h1>
        <a href="{% url 'home' %}">Retour à l'accueil</a>
    </header>

    <main>
        <section>
            <h2>Formulaire d'inscription</h2>
            <p>Un email de validation vous sera envoyé automatiquement pour confirmer votre statut de résident.</p>
            
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %} 
                <fieldset>
                    <legend>Informations Privées</legend>
                    <label for="last_name">Nom :</label>
                    <input type="text" id="name" name="last_name" required>
                    
                    <label for="first_name">Prénom :</label>
                    <input type="text" id="first_name" name="first_name" required>
                    
                    <label for="email">Email étudiant :</label>
                    <input type="email" id="email" name="email" required>

                    <label for="student_id">Numéro d'étudiant :</label>
                    <input 
                    type="text" 
                    id="student_id" 
                    name="student_id" 
                    inputmode="numeric" 
                    pattern="[0-9]*" 
                    placeholder="Ex: 22104567" 
                    required>

                    <label for="phone">Tel :</label>
                    <input type="tel" id="phone" name="phone" required>
                    
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </fieldset>

                <fieldset>
                    <legend>Profil Public</legend>
                    <label for="username">Pseudonyme :</label>
                    <input type="text" id="username" name="username" required>
                    
                    <label for="age">Âge :</label>
                    <input type="number" id="age" name="age" required>
                    
                    <label for="sex">Sexe :</label>
                    <select id="sex" name="sex">
                        <option value="F">Femme</option>
                        <option value="M">Homme</option>
                    </select>

                    <!-- <label for="member_type">Statut :</label>
                    <select id="member_type" name="member_type">
                        <option value="student">Étudiant résident</option>
                        <option value="staff">Personnel / Gardien</option>
                    </select> -->
                </fieldset>

                <button type="submit">S'inscrire</button>
            </form>
        </section>
    </main>
</body>
</html>